<h1>Films#show</h1>
<p>Find me in app/views/films/show.html.erb</p>
<% @film.ratings.each do |rating| %>
  <%= rating.rating %>
<% end %>
<br>
<p>Reviews</p>
<% @film.reviews.each do |review| %>
  <%= review.body %>
<% end %>
<%= render '/ratings/new' %>
<%= render '/reviews/new' %>
